
@mixin clearfix {
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 480px) { @content }
  }
  @else if $media == web {
    @media only screen and (min-width: 760px) { @content }
  }
}