
input, textarea {
  font: inherit;
  border: none;
  margin: 0;
  padding: 0;
  color: #333;
  &:focus {
    outline: none
  }
  &.full {
    width: 100%;
  }
}
textarea {
  width: 100%;
  height: 175px;
}
label {
  color: #777;
}
::placeholder {
  font: inherit;
  color: #555;
}